:root {
  --swiper-theme-color: #fff;
}

@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: url(../fonts/MyriadPro-Regular.woff2),
    url(../fonts/MyriadPro-Regular.woff);
}

@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
  src: url(../fonts/MyriadPro-Bold.woff2), url(../fonts/MyriadPro-Bold.woff);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: url(../fonts/Roboto-Regular.woff2), url(../fonts/Roboto-Regular.woff),
    url(../fonts/Roboto.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.25rem;
  color: #585858;
  line-height: 2.688rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #585858;
  line-height: 1.813rem;
}

h3 {
  font-size: 1.5rem;
  color: #313131;
  line-height: 1.813rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #ededed;
}

.wrapper {
  max-width: 77.5rem;
  margin: 0 auto;
}

header {
  padding: 1.125rem 1.188rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: relative;
  z-index: 10;
  gap: 2.5rem;
}

header .logo-img {
  display: block;
  padding-top: 1.188rem;
}

header .logo-img svg {
  width: 13.75rem;
  height: 3.75rem;
  fill: #585858;
}

.header-content-container {
  font-size: 1.375rem;
  width: 100%;
  max-width: 54.938rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.header-top-row,
.header-bottom-row {
  display: flex;
  align-items: center;
}

.header-bottom-row {
  justify-content: space-between;
  margin-left: 0.625rem;
}

.search-container {
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  display: flex;
  width: 100%;
  max-width: 44.875rem;
}

.search-input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.125rem;
  margin: 0.5rem 0.438rem;
  color: #818181;
  letter-spacing: 0.3px;
}

.search-container button {
  border: none;
  background-color: #fff;
  display: flex;
  cursor: pointer;
  margin: 0.313rem 0.563rem;
}

.search-icon svg {
  height: 1.625rem;
  width: 1.625rem;
  fill: #585858;
}

.search-icon svg:hover {
  fill: #253582;
}

.eye-icon {
  margin: 0.25rem 1.25rem 0 1.5rem;
}

.eye-icon svg {
  width: 2.188rem;
  height: 1.625rem;
  opacity: 0.6;
}

.eye-icon svg:hover {
  opacity: 1;
}

.languages-block {
  display: flex;
  gap: 1.313rem;
  position: relative;
  font-size: 1.438rem;
}

.languages-block a {
  display: block;
  color: #253582;
}

.languages-block a:hover {
  text-decoration: underline;
}

.languages-block a.active {
  color: #000;
}

.languages-block::after {
  content: "";
  height: 80%;
  width: 0.125rem;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-menu {
  margin-top: 0.125rem;
}

.header-menu > ul {
  display: flex;
  gap: 2.813rem;
}

.header-menu-item {
  position: relative;
}

.header-menu-item > div {
  font-weight: bold;
  font-size: 1.438rem;
  color: #585858;
  text-transform: uppercase;
  padding: 0.625rem 0.625rem 1.563rem;
  margin: -0.625rem -0.625rem -1.563rem;
  cursor: pointer;
}

.header-menu-popup {
  display: none;
  position: absolute;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  background-color: #fff;
  padding: 0.75rem 0;
  flex-direction: column;
  top: 2.938rem;
  right: 0.313rem;
}

.header-menu-item:hover .header-menu-popup {
  display: block;
}

.header-menu-popup:before,
.header-menu-popup:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.header-menu-popup:before {
  top: -1.563rem;
  right: 1.063rem;
  border-bottom: 1.563rem solid #e6e6e6;
  border-left: 1.188rem solid transparent;
  border-right: 1.188rem solid transparent;
}

.header-menu-popup:after {
  top: -1.5rem;
  right: 1.125rem;
  border-bottom: 1.5rem solid #ffffff;
  border-left: 1.125rem solid transparent;
  border-right: 1.125rem solid transparent;
}

.header-menu-popup a {
  display: block;
  padding: 0.313rem 1.375rem 0.563rem;
  color: #4c4c4e;
  font-size: 1.25rem;
}

.header-menu-popup li:hover {
  background-color: #dddfeb;
}

.header-menu-item:nth-child(1) > .header-menu-popup {
  min-width: 8.25rem;
}
.header-menu-item:nth-child(2) > .header-menu-popup {
  min-width: 10.625rem;
}
.header-menu-item:nth-child(3) > .header-menu-popup {
  min-width: 15.063rem;
}

.switch-header-menu-button {
  display: none;
  cursor: pointer;
}

.socials-block {
  display: flex;
  gap: 1.25rem;
  margin-top: -0.125rem;
}

.socials-block a {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  border-radius: 50%;
  position: relative;
}

.socials-block svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.instagram-icon {
  background-color: rgba(227, 86, 107, 0.6);
}

header .instagram-icon:hover {
  background-color: #e3566b;
}

.instagram-icon svg {
  height: 1.338rem;
  width: 1.338rem;
}

.vk-icon {
  background-color: rgba(37, 53, 130, 0.6);
}

header .vk-icon:hover {
  background-color: #253582;
}

.vk-icon svg {
  width: 1.713rem;
  height: 0.963rem;
}

.fb-icon {
  background-color: rgba(64, 91, 227, 0.6);
}

header .fb-icon:hover {
  background-color: #405be3;
}

.fb-icon svg {
  width: 1.025rem;
  height: 1.713rem;
}

.tiktok-icon {
  background-color: rgba(88, 88, 88, 0.6);
}

header .tiktok-icon:hover {
  background-color: #585858;
}

.tiktok-icon svg {
  width: 1.338rem;
  height: 1.588rem;
}

main {
  background-color: #fff;
  padding: 0 0 3.563rem;
}

main > div {
  margin-bottom: 3.75rem;
}

.welcoming-block {
  background-image: url(../img/welcoming-picture.png);
  background-repeat: no-repeat;
  background-color: #dfdae0;
  background-position: 6% bottom;
  background-size: auto 21.25rem;
}

.welcoming-text {
  text-align: right;
  max-width: 29.625rem;
  padding: 3rem 0 2.813rem 0;
  margin-left: auto;
  margin-right: 7.375rem;
}

.welcoming-text-big {
  font-size: 2.438rem;
  font-weight: bold;
  color: #696869;
  line-height: 2.625rem;
  letter-spacing: 0.6px;
  margin-bottom: 0.625rem;
}

.welcoming-text-small {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  max-width: 18.938rem;
  margin-left: auto;
  font-weight: 600;
  font-size: 1.125rem;
  color: #585858;
  line-height: 1.313rem;
}

.main-links {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  font-size: 0.875rem;
  align-items: end;
  margin-top: 1.625rem;
}

.main-links a {
  display: flex;
  align-items: center;
  padding: 0.656rem 0.313rem;
  padding-left: 1rem;
  width: 12.063rem;
  justify-content: space-between;
  border: unset;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 0.938rem;
  letter-spacing: 1.2px;
}

.repo-link {
  background-color: #585858;
}

.repo-link:hover {
  background-color: #414141;
}

.catalogue-link {
  background-color: #e3566b;
}

.catalogue-link:hover {
  background-color: #ff526c;
}

.main-links svg {
  height: 1.063rem;
  width: 1.063rem;
}

.links-group {
  padding: 0 1.063rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.438rem;
  row-gap: 3.625rem;
  justify-content: center;
}

.links-group a {
  width: 23.5rem;
  height: 6.125rem;
  display: flex;
  align-items: center;
  padding: 0.625rem 0.625rem 0.563rem;
  background-color: #dddfeb;
  border-radius: 6px;
  text-align: left;
  font-size: 1.5rem;
  color: #231f20;
  cursor: pointer;
  overflow: hidden;
}

.links-group div {
  min-width: 9.375rem;
}

.links-group a:hover {
  background-color: #e3566b;
  color: #fff;
}

.links-group svg {
  fill: #253582;
}

.links-group a:hover svg {
  fill: #fff;
}

.delivery-link > div {
  padding-left: 10%;
  padding-top: 2%;
}

.delivery-link svg {
  width: 4.188rem;
  height: 4.313rem;
}

.innovations-link > div {
  padding-left: 8%;
  padding-top: 2%;
}

.innovations-link svg,
.seo-link svg {
  width: 4.625rem;
  height: 4.563rem;
}

.seo-link > div {
  padding-left: 9%;
}

.scopus-link > div {
  padding-left: 9%;
}

.scopus-link svg {
  width: 4.938rem;
  height: 3.75rem;
}

.availability-link > div {
  padding-left: 8%;
}

.availability-link svg {
  width: 4.625rem;
  height: 4.625rem;
}

.electronic-magazines-link > div {
  padding-left: 10%;
}

.electronic-magazines-link svg {
  width: 5.438rem;
  height: 4.5rem;
}

.new-products-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.188rem 2.625rem 1.813rem;
  background-color: #253582;
}

.new-products-block span {
  font-weight: bold;
  font-size: 1.375rem;
  text-transform: uppercase;
  color: #fff;
}

.new-products-block > a {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 3px;
  padding: 0.625rem 0;
  width: 10.125rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: inherit;
  cursor: pointer;
  text-align: center;
}

.new-products-block > a:hover {
  background-color: #1d42ff;
  border-color: transparent;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 2rem 4.688rem 2.313rem;
}

.swiper-slide {
  text-align: center;
  font-size: 1.125rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slide-image-container {
  width: 100%;
  height: 15.625rem;
}

.slide-image-container img {
  width: 100%;
  height: 100%;
}

.slide-link-container {
  height: 100%;
}

.slide-link-container a {
  display: block;
  margin: 0.5rem 0;
  width: 5.813rem;
  padding-block: 0.438rem;
  font-weight: bold;
  font-size: 0.875rem;
  color: #253582;
  border: 1px solid #253582;
  border-radius: 3px;
  background-color: inherit;
  cursor: pointer;
}

.slide-link-container a:hover {
  background-color: #1d42ff;
  color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.map-block {
  max-width: 61.75rem;
  margin: auto;
  background-color: #dddfeb;
  flex-direction: column;
}

.map-menu {
  display: flex;
}

.map-menu-item {
  flex: 1 1;
  text-align: center;
  background-color: #f1f3fe;
  border-right: 1px solid #dddfeb;
}

.map-menu-item.active {
  background-color: inherit;
}

.map-menu-item:last-child,
.map-menu-item.active {
  border: unset;
}

.placemark-hovered {
  font-weight: bold;
}

.map-menu-item > a {
  color: #253582;
  display: block;
  padding-block: 0.5rem;
  font-size: 1.313rem;
}

.map-menu-item:hover > a,
.map-menu-item.active > a {
  font-weight: bold;
  font-size: 1.281rem;
}

.map-block > .d-flex {
  gap: 2.938rem;
  padding: 1.25rem 1.813rem 2.125rem;
}

#map {
  width: 39.438rem;
  height: 27.563rem;
}

.marker-info {
  flex: 1 1;
  color: #253582;
  line-height: 1.2rem;
}

.marker-info > p,
.marker-info > span {
  font-weight: bold;
}

.marker-title {
  font-size: 1.063rem;
}

footer {
  background-color: #253582;
  padding: 2.188rem 5.188rem 3rem 2.125rem;
  color: #fff;
  display: flex;
  gap: 8.438rem;
/*  font-weight: bold;*/
}

footer > div {
  display: flex;
}

.footer-block-left {
  flex-direction: column;
  gap: 1.5rem;
}

footer .logo-container {
  padding-left: 0.563rem;
}

footer .logo-img svg {
  width: 9.375rem;
  height: 2.5rem;
  fill: #fff;
}

footer .socials-block {
  margin-bottom: 0.25rem;
  gap: 0.375rem;
  margin-top: 0;
}

footer .socials-block a {
  background-color: unset;
  opacity: 0.8;
}

footer .socials-block a:hover {
  opacity: 1;
}

.copyright-block {
  font-size: 0.813rem;
  width: max-content;
  padding-left: 0.75rem;
  font-size: 0.938rem;
}

.footer-block-right {
  width: 100%;
  justify-content: space-between;
  gap: 3.75rem;
}

.footer-block-right > div {
  display: flex;
}

.footer-menu {
  gap: 9.875rem;
}

.footer-menu__column {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.footer-menu-item {
  color: #fff;
  font-size: 1.25rem;
  width: max-content;
}

.footer-menu-item:hover {
  text-decoration: underline;
}

.footer-info {
  font-size: 1rem;
  padding-top: 0.25rem;
  flex-direction: column;
  max-width: 14.625rem;
  line-height: 1.5rem;
}

.footer-info__phone {
  display: flex;
  gap: 0.188rem;
}

@media screen and (max-width: 1175px) {
  .new-products-block {
    padding-inline: 1.175rem;
  }
}

@media screen and (max-width: 1113px) {
  .welcoming-text {
    margin-right: 5.375rem;
  }

  .footer-menu {
    gap: 4.25rem;
  }
}

@media screen and (max-width: 1060px) {
  .swiper {
    padding-inline: 3.688rem;
  }
}

@media screen and (max-width: 1023px) {
  header {
    gap: 2.063rem;
    padding: 1.188rem 0.813rem 1.875rem;
  }

  header .logo-img {
    padding-top: 1.875rem;
  }

  header .logo-img svg {
    width: 11.438rem;
    height: 3.125rem;
  }

  .header-top-row {
    margin-right: 0.625rem;
  }

  .search-input {
    margin-inline: 0.563rem;
  }

  .eye-icon {
    margin-right: 1.375rem;
  }

  .languages-block {
    gap: 1.375rem;
    font-size: 1.313rem;
  }

  .header-menu ul {
    gap: 1.25rem;
  }

  header .socials-block {
    gap: 0.938rem;
    margin-right: 0.188rem;
    margin-top: 0.125rem;
  }

  header .socials-block a {
    width: 2.25rem;
    height: 2.25rem;
  }

  header .socials-block svg {
    transform: translate(-50%, -50%) scale(0.9);
  }

  .header-menu-item > div {
    font-size: 1.313rem;
    letter-spacing: 0.7px;
  }

  .header-menu-popup {
    padding-block: 0.5rem;
  }

  .welcoming-block {
    margin-bottom: 3.063rem;
    background-size: auto 13.125rem;
  }

  .welcoming-text {
    text-align: left;
    max-width: 12.688rem;
    padding: 1.5rem 0 1.625rem 0;
    margin-right: 3.813rem;
  }

  .welcoming-text-big {
    font-size: 1.375rem;
    line-height: 1.563rem;
    margin-left: 0;
    letter-spacing: 0.7px;
    margin-bottom: 0.25rem;
  }

  .welcoming-text-small {
    font-size: 0.75rem;
    line-height: 0.813rem;
    max-width: unset;
  }

  .main-links {
    margin-top: 0.75rem;
    margin-right: 0.688rem;
    gap: 0.625rem;
  }

  .main-links a {
    width: 9.75rem;
    padding: 0.438rem 0.313rem 0.438rem 0.813rem;
  }

  .main-links svg {
    transform: scale(0.85);
  }

  .gallery {
    margin-bottom: 3.125rem;
  }

  .links-group {
    gap: 1.625rem;
    row-gap: 1.938rem;
    margin-bottom: 3.125rem;
  }

  .links-group > a {
    width: 22rem;
    max-height: 5.75rem;
  }

  .links-group a {
    font-size: 1.25rem;
  }

  .links-group a > div {
    min-width: 10.125rem;
  }

  .new-products-block {
    padding: 1.188rem 2.75rem 1.313rem;
    margin-bottom: 3rem;
  }

  .new-products-block span {
    font-size: 1.063rem;
  }

  .swiper {
    padding: 1.625rem 3.125rem 1.5rem;
  }

  .slide-image-container {
    height: 9.313rem;
  }

  .slide-link-container a {
    width: 5.563rem;
    padding-block: 0.313rem;
    margin: 1rem 0 0.625rem;
    font-size: 0.938rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    transform: scale(0.7);
  }

  .swiper-button-prev {
    left: -0.25rem;
  }

  .swiper-button-next {
    right: -0.25rem;
  }

  .new-products-block > a {
    width: 8.688rem;
    padding-block: 0.438rem;
  }

  .map-block {
    max-width: 45.313rem;
  }

  .map-block > .d-flex {
    flex-direction: column;
    gap: 1.25rem;
  }

  .map-menu-item > a {
    font-size: 1.125rem;
    padding-block: 0.375rem;
  }

  .map-menu-item:hover > a,
  .map-menu-item.active > a {
    font-size: 1.094rem;
  }

  #map {
    width: 100%;
    height: 21.813rem;
  }

  .marker-info {
    font-size: 0.938rem;
  }

  .marker-title {
    font-size: 1rem;
  }

  footer {
    padding: 2.375rem 1.375rem 2.625rem 1.063rem;
    gap: 2.313rem;
  }

  footer .socials-block {
    margin-bottom: 0;
  }

  .copyright-block {
    font-size: 0.813rem;
    padding-left: 0.5rem;
    letter-spacing: 0.3px;
  }

  .footer-block-right,
  .footer-menu {
    gap: 3.188rem;
  }

  .footer-info {
    font-size: 0.938rem;
    letter-spacing: 0.3px;
  }

  .footer-info__phone {
    flex-direction: column;
    gap: 0;
  }
}

@media screen and (max-width: 840px) {
  .new-products-block {
    padding-inline: 1.75rem;
  }
}

@media screen and (max-width: 767px) {
  header {
    padding: 0.875rem 0.563rem 4.188rem;
    align-items: unset;
    gap: 0;
  }

  .logo-container {
    padding-top: 0.25rem;
  }

  header .logo-img svg {
    width: 7.938rem;
    height: 2.125rem;
  }

  .header-top-row {
    margin-right: 0.5rem;
  }

  .eye-icon {
    margin: 0 1rem 0 auto;
  }

  .eye-icon svg {
    width: 1.5rem;
    height: 1.188rem;
  }

  .languages-block {
    font-size: 1rem;
  }

  .search-container {
    position: absolute;
    top: 6.188rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 2.25rem;
    width: 95%;
  }

  .search-input {
    margin-inline: 0.438rem;
    font-size: 0.938rem;
    letter-spacing: 0.5px;
  }

  .search-icon svg {
    height: 1.188rem;
    width: 1.188rem;
  }

  .header-bottom-row {
    margin-left: auto;
  }

  header .socials-block {
    gap: 0.75rem;
  }

  header .socials-block a {
    height: 1.75rem;
    width: 1.75rem;
  }

  header .socials-block a svg {
    transform: translate(-50%, -50%) scale(0.8);
  }

  .header-menu {
    cursor: pointer;
    height: 1.125rem;
    width: 1.625rem;
    position: absolute;
    top: 0.875rem;
    left: 0.938rem;
  }

  .header-menu > ul {
    display: none;
  }

  .switch-header-menu-button {
    display: block;
  }

  .header-menu:not(.active) .switch-header-menu-button {
    height: 100%;
    width: 100%;
  }

  .switch-header-menu-button:before {
    top: 50%;
    transform: translateY(-50%);
  }

  .switch-header-menu-button:after,
  .switch-header-menu-button:before {
    content: "";
  }

  .switch-header-menu-button > span,
  .switch-header-menu-button:after,
  .switch-header-menu-button:before {
    display: block;
    height: 0.188rem;
    width: 100%;
    position: absolute;
    background-color: #515758;
  }

  .switch-header-menu-button:after {
    bottom: 0;
  }

  .header-menu.active {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    cursor: auto;
    background-color: #253582;
    padding: 5.375rem 3.938rem 4.313rem;
    margin: 0;
  }

  .header-menu.active > ul {
    display: block;
    height: 100%;
    max-width: 12.5rem;
    margin: auto;
  }

  .header-menu.active .switch-header-menu-button {
    position: absolute;
    top: 0.5rem;
    left: 0.938rem;
    width: 1.563rem;
    height: 1.563rem;
  }

  .header-menu.active .switch-header-menu-button span {
    display: none;
  }

  .header-menu.active .switch-header-menu-button:after,
  .header-menu.active .switch-header-menu-button:before {
    display: block;
    width: 1.594rem;
    height: 0.175rem;
    position: absolute;
    background-color: #fff;
    top: 0.625rem;
  }

  .header-menu.active .switch-header-menu-button:before {
    transform: rotate(45deg);
  }

  .header-menu.active .switch-header-menu-button:after {
    transform: rotate(-45deg);
  }

  .header-menu-item {
    padding-bottom: 1.375rem;
  }

  .header-menu.active .header-menu-item:hover > div {
    text-decoration: underline;
  }

  .header-menu-item div {
    color: #fff;
    padding: 0;
    margin: 0;
    max-width: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-menu-item div:after {
    background-image: url(../img/mobile-header-menu-arrow.svg);
    border: unset;
    width: 1rem;
    height: 1.125rem;
    top: 0;
    right: 0;
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: 0 3px;
  }

  .header-menu-item:hover .header-menu-popup {
    display: none;
  }

  .header-menu-item.active .header-menu-popup {
    display: block;
  }

  .header-menu-item.active div:after {
    transform: rotate(180deg);
  }

  .header-menu-popup {
    min-width: unset !important;
    position: unset;
    border: unset;
    background-color: unset;
    padding-bottom: 0;
  }

  .header-menu-popup li:hover {
    background-color: unset;
    text-decoration: underline;
  }

  .header-menu-popup::before,
  .header-menu-popup:after {
    display: none;
  }

  .header-menu-popup a {
    padding-inline: 0;
    color: #fff;
    font-size: 1rem;
  }

  main > div {
    margin-bottom: 1.875rem;
  }

  .gallery {
    margin-bottom: 1.875rem;
  }

  .links-group {
    padding: 0 0.875rem;
    row-gap: 1.125rem;
    margin-bottom: 2rem;
  }

  .links-group > a {
    width: 18.25rem;
    max-height: 4.688rem;
  }

  .links-group a {
    padding: 0 0.875rem;
    font-size: 1rem;
  }

  .links-group a > div {
    min-width: 8.125rem;
  }

  .links-group svg {
    transform: scale(0.75);
  }

  .new-products-block {
    padding: 0.813rem 2.75rem 1.063rem;
  }

  .swiper {
    padding: 1.25rem 2.5rem;
  }

  .slide-link-container a {
    width: 3.938rem;
    padding-block: 0.25rem;
    font-size: 0.688rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    transform: scale(0.6);
  }

  .map-block {
    max-width: 38.25rem;
  }

  footer {
    flex-direction: column;
  }

  .footer-block-left {
    order: 2;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer-block-right {
    gap: unset;
    justify-content: space-between;
  }

  footer .socials-block {
    margin-left: -0.375rem;
  }

  .copyright-block {
    font-size: 0.906rem;
    padding-left: 0;
  }

  .footer-menu-item {
    font-size: 1.125rem;
  }

  .footer-info {
    max-width: 13.313rem;
    font-size: 0.875rem;
    padding-top: 0;
  }
}

@media screen and (max-width: 670px) {
  .welcoming-block {
    background-position-x: 4%;
  }

  .welcoming-text {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .map-block {
    max-width: 34.375rem;
  }
}

@media screen and (max-width: 619px) {
  .slide-image-container {
    height: 8rem;
  }
}

@media screen and (max-width: 576px) {
  .welcoming-block {
    margin-bottom: 4.125rem;
    position: relative;
    padding-block: 1.25rem;
    background-size: auto 7.85rem;
    background-position-x: 6%;
  }

  .welcoming-text {
    max-width: 8.375rem;
    padding: 0.938rem 0 1rem 0;
    margin-right: 2.438rem;
  }

  .welcoming-text-big {
    font-size: 0.813rem;
    line-height: 0.938rem;
    margin-bottom: 0;
    max-width: 9.813rem;
    letter-spacing: 0.5px;
  }

  .welcoming-text-small {
    font-size: 0.5rem;
    line-height: 0.563rem;
    max-width: 7.063rem;
    margin-left: 0;
    letter-spacing: 0.2px;
  }

  .main-links {
    position: absolute;
    top: 100%;
    margin-top: 2.063rem;
    transform: translateY(-50%);
    flex-direction: row;
    gap: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: fit-content;
  }

  .main-links a {
    width: 8.5rem;
    font-size: 0.875rem;
    letter-spacing: 0.9px;
    padding-left: 0.625rem;
  }

  .new-products-block {
    padding-top: 0.75rem;
    margin-bottom: 1.75rem;
  }

  .new-products-block span {
    font-size: 0.938rem;
  }

  .slide-image-container {
    height: 7.688rem;
  }

  .slide-link-container a {
    margin-top: 0.563rem;
    margin-bottom: 0.188rem;
    font-size: 0.75rem;
  }

  .new-products-block > a {
    font-size: 0.938rem;
    width: 7.938rem;
    padding-block: 0.313rem;
  }

  .map-block {
    max-width: 25rem;
  }

  .map-menu-item > a {
    font-size: 0.75rem;
    padding-block: 0.5rem;
  }

  .map-menu-item:hover > a,
  .map-menu-item.active > a {
    font-size: 0.719rem;
  }

  .map-block > .d-flex {
    padding: 0.688rem 0.813rem;
  }

  #map {
    height: 17.5rem;
  }

  .marker-info {
    font-size: 0.875rem;
  }

  .marker-title {
    font-size: 0.938rem;
  }

  footer {
    padding: 1.188rem 3.125rem 1.813rem;
    gap: 1.438rem;
    flex-direction: column;
    align-items: center;
  }

  .footer-block-left {
    order: 2;
    flex-direction: row;
    gap: 1.188rem;
    width: 100%;
  }

  footer .logo-container {
    order: 2;
    padding-left: 0;
  }

  footer .logo-img svg {
    width: 7.5rem;
    height: 2rem;
  }

  footer .socials-block {
    gap: 0.125rem;
    margin-left: 0;
  }

  .copyright-block {
    padding-left: 0.625rem;
    font-size: 0.75rem;
    margin-top: 0.438rem;
    letter-spacing: 0.2px;
  }

  .footer-block-right {
    flex-direction: column;
    gap: 1.688rem;
    padding-left: 0.688rem;
  }

  .footer-menu {
    justify-content: space-between;
  }

  .footer-menu__column {
    gap: 0.563rem;
  }

  .footer-menu-item {
    font-size: 1rem;
  }

  .footer-info {
    padding-top: 0;
    font-size: 0.813rem;
    max-width: 11.688rem;
    line-height: 0.875rem;
  }

  .footer-info__phone > p:first-child {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .new-products-block {
    padding-inline: 1.75rem;
  }

  .slide-image-container {
    height: 7rem;
  }
}

@media screen and (max-width: 500px) {
  .new-products-block {
    padding-inline: 0.5rem;
  }

  .swiper {
    padding-inline: 1.25rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    transform: scale(0.4);
  }

  .swiper-button-prev {
    left: -0.5rem;
  }

  .swiper-button-next {
    right: -0.5rem;
  }

  .slide-image-container {
    height: 8rem;
  }
}

@media screen and (max-width: 420px) {
  .welcoming-block {
    background-size: auto 5.5rem;
    padding-block: 0;
  }

  .map-block {
    max-width: 18.875rem;
  }

  footer {
    padding-inline: 0.813rem;
  }
}

@media screen and (max-width: 400px) {
  .slide-image-container {
    height: 7rem;
  }
}

@media screen and (max-width: 360px) {
  .welcoming-text {
    margin-right: 0.438rem;
  }
}

@media screen and (max-width: 346px) {
  .slide-image-container {
    height: 5.688rem;
  }

  .footer-menu,
  .footer-block-left {
    justify-content: unset;
  }

  .footer-menu {
    gap: 3.813rem;
  }
}

.ymaps-2-1-79-balloon__tail {
  display: none !important;
}
